<%= form_with(model: ice_cream, local: true) do |form| %>

<% if ice_cream.errors.any? %>
<div class="alert alert-warning">
  <h3><%= pluralize(ice_cream.errors.count, "error") %>!</h3>
  <ul class="errors">
    <% ice_cream.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category %>
  </div>

  <div class="field">
    <%= form.label :brand %>
    <%= form.text_field :brand %>
  </div>

  <div class="field">
    <%= form.label :base_flavor %>
    <%= form.text_field :base_flavor %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
