<section>
<%= form_with model: @ice_cream, url: ice_creams_path do |f| %>
<% if @ice_cream.errors.any? %>
<div class="alert alert-warning">
  <ul class="errors">
    <% @ice_cream.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="form-group">
    <%= f.label(:category, "category") %>
    <%= f.select "category", options_for_select(IceCream::CATEGORIES), options = { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.label(:name, "name") %>
    <%= f.text_field :name, value: nil, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label(:brand, "brand") %>
    <%= f.text_field :brand, value: nil, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label(:base_flavor, "base flavor") %>
    <%= f.text_field :base_flavor, value: nil, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label(:description, "description") %>
    <%= f.text_area :description, value: nil, class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= f.submit("Create Ice Cream", options = { class: "btn btn-primary" }) %>
  </div>
<% end %>
</section>