<% IceCream::CATEGORIES.each do |category| %>
<section class="media-table">
  <h4><%= category.capitalize %></h4>
  <table class="table">
    <thead>
      <tr>
        <th>votes</th>
        <th>ice cream name</th>
        <th>brand</th>
        <th>base flavor</th>
        <th>upvote</th>
      </tr>
    </thead>
  <tbody>
      <% @ice_creams.by_category(category).each do |ice_cream| %>
        <tr>
          <td width=80><%= ice_cream.votes.count %></td>
          <td><%= link_to ice_cream.name, ice_cream_path(ice_cream.id) %></td>
          <td width=220><%= ice_cream.brand %></td>
          <td width=150><%= ice_cream.base_flavor %></td>
          <td width=100><%= link_to 'upvote', vote_ice_cream_path(ice_cream.id), method: :post %></td>
        </tr>
      <% end %>
  </tbody>
  </table>
</section>
<% end %>

