<main>
  <h2>User Summary: <%= link_to @user.name, url_for(@user)%></h2>
  <p>Joined site <%= pretty_date(@user.created_at) %></p>

  <section class="user-votes__container">
    <h3 class="user-votes__header">Votes</h3>
    <% if @user.votes.count > 0 %>
      <table class="table">
        <thead>
          <tr>
            <th>ice cream name</th>
            <th>brand</th>
            <th>base flavor</th>
            <th>category</th>
            <th>voted on</th>
          <tr>
        </thead>
        <tbody>
          <% @user.votes.each do |vote| %>
            <tr>
              <td><%= link_to vote.ice_cream.name, ice_cream_url(vote.ice_cream_id)%></td>
              <td><%= vote.ice_cream.brand %></td>
              <td><%= vote.ice_cream.base_flavor %></td>
              <td><%= vote.ice_cream.category %></td>
              <td><%= pretty_date(vote.created_at) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p><%= @user.name %> has not voted on any ice creams yet ):</p>
    <% end %>

  </section>

  <%= link_to "See all users", users_path, class: "btn btn-secondary" %>
  <%= link_to "Back to all ice creams", ice_creams_path,  class: "btn btn-primary"%>

</main>

