<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header class="app-header__header">
    <h1>
      <a href="/">Ice Cream Ranker</a>
      <small>Ranking the best of Ice Cream</small>
    </h1>

    <nav class="app-header__nav">
      <ul class="nav app-header__site-nav-container">
        <li class="nav-item app-header__nav_item">
          <a class="nav-link" href="/">View top ice cream</a>
        </li>
        <li class="nav-item app-header__nav_item">
          <a class="nav-link" href="/ice_creams">View all ice cream</a>
        </li>
        <li class="nav-item app-header__nav_item">
          <a class="nav-link" href="/ice_creams/new">Add new ice cream</a>
        </li>
        <li class="nav-item app-header__nav_item">
          <a class="nav-link" href="/users">View all users</a>
        </li>
      </ul>
      <ul class="nav app-header__user-nav-container">

        <li class="nav-item app-header__nav_item">
          <a class="btn btn-primary" href="/login">Log In</a>
        </li>

      </ul>
    </nav>
  </header>


  <% flash.each do |name, message| %>
    <div class="alert alert-<%= name %>" role="alert">
      <%= message.html_safe %>
    </div>
  <% end %>


    <%= yield %>
  </body>
</html>
