<!DOCTYPE html>
<html>
  <head>
    <title>MediaRanker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- re: flash not clearing correctly unless we disable turbolinks preview https://github.com/turbolinks/turbolinks/issues/309 -->
    <meta name="turbolinks-cache-control" content="no-preview">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header class="app-header__header">
    <h1>
      <a href="/">Ice Cream Ranker</a>
      <small>Ranking the best of Ice Cream</small>
    </h1>

    <%= render partial: "layouts/nav", locals: { user: current_user} %>
    
  </header>

  <% flash.each do |name, message| %>
    <div class="alert alert-<%= name %>" role="alert" data-turbolinks-temporary>
      <%= message.html_safe %>
    </div>
  <% end %>

    <%= yield %>
  </body>
</html>
